bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs
config.json
/Arona/Database/dist
/Arona/Database/node_modules
Arona/Properties/PublishProfiles/BuildUbuntu.pubxml.user
/.idea
*.user
/Service/node_modules
*.js
*.tsbuildinfo
*.vscode
/Arona.Service/wwwroot
